body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hr-nav {
    color:#EA302D;
  }

h1 {
    text-align: center;
    color: red;
    font-weight: bold;
}

.bigbtn {
    margin: 10px;
    padding: 20px;
    background-color: #EA302D;
    color: white; 
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}