body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*logo*/
.logo {
    height: 10%;
    width: 20%;
    margin: 10px;
}


/*Navbar*/
.nav-item {
    text-decoration: none;
}

