*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
	margin: 0;
	
	padding: 0;
}

.content{
    margin-top: 15vh;
	
}

/* NAV BAR*/

li, a, button, .logo {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

#click {
	display: none;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
	width: 100vw;
    height: 100px;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover, .active {
	color: #EC3728;
}

button {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #EC3728;
    color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.logouticon {
    width: 16px;
    margin-left: 5px;
    margin-bottom: -2px;
}

.logo {
	font-size: 18px;
	font-weight: 600;

}

.logo img{
padding-top: 5px;
width: 160px;
height: 80px;
}
.menu-btn {
	color: #EC3728;
	display: none;
	cursor: pointer;
    
	padding-left: 10px;
}

@media (max-width: 1250px) {
	.nav__links {
		position: fixed;
		top: 80px;
		left: -100%;
		background-color: #EC3728;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.3s ease;
	}

	.cta {
		display: inline-flex;
		position: fixed;
		bottom: 80px;
		width: 100vw;
		left: -100;
		justify-content: center;
		transition: all 0.3s ease;
       
	}


	#click:not(:checked) ~ .nav__links{
		left: -100%;
	}
	
	#click:not(:checked) ~ .cta{
		left: -100%;
	}

	#click:checked ~ .nav__links {
		left: 0%;
	}

	#click:checked ~ .cta{
		left: 0%;
	}

	#click:checked ~ .menu-btn i:before {
		content: "\f00d";
	}

	.nav__links li {
		display: block;
		margin-top: 40px;
	}

	.menu-btn {
		display: inline-block;
	}
}

.navdivider {
    width: 100%;
    height: 1px;
    background-color: #fff;

}
.navdivider2 {
    width: 100%;
    height: 2px;
    background-color: #EC3728;
    margin-top: -50px;
}

/* SEARCH BAR*/

.search-container {
    display: flex; 
    width: fit-content;  
    margin: 0 auto; 
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 55px; 
    font-size: 16px;
    flex: 1; 
}

.search-button {
    padding: 10px 20px; 
    background-color: #EC3728; 
    color: white;
	margin-left: 5px;
    border: none; 
    border-radius: 55px; 
    cursor: pointer; 
}


/* TABLE */

.centerdivtable {
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
	
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #EC3728;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #EC3728;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #EC3728;
}

.add-button {
    padding: 10px 20px; 
    background-color: #EC3728; 
    color: white;
	margin: 5px;
    border: none; 
    border-radius: 55px; 
    cursor: pointer; 
}
.push-button {
    padding: 10px 20px; 
    background-color: #729B79; 
    color: white;
	margin: 5px;
    border: none; 
    border-radius: 55px; 
    cursor: pointer; 
}
.edit-button {
    padding: 10px 20px; 
    background-color: #484A47; 
    color: white;
	margin: 5px;
    border: none; 
    border-radius: 55px; 
    cursor: pointer; 
}

.filters {
	
		display: flex; 
		width: fit-content;  
		margin: 0 auto; 
        
}

#campus { 
	border-radius: 55px;
	padding-right: 5px;
}
#docent { 
	border-radius: 55px;
	padding-right: 5px;
}
#course { 
	border-radius: 55px;
	padding-right: 5px;
}

/* FOOTER */


.footer {
    background-color: #1A1D22;
    padding: 20px;
    position: fixed; /* Makes the footer fixed at the bottom */
    bottom: 0; /* Positions the bottom of the footer at 0 */
    width: 100%; /* Ensures the footer stretches across the entire width */
	height: 15vh;
	display: flex; 
	justify-content: center; 
	align-items: center; 
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Aligns footer content to the bottom */
}

.footer-text-left {
    color: #fff;
}

.footer-content-right {
    display: flex;
    flex-wrap: wrap; /* Wraps links to multiple lines if needed */
}

.footer-content-right a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none; /* Removes underline from links */
}

.footer-content-right a:hover {
    color: #EC3728; /* Changes link color on hover */
}

.copyright {
    color: #fff;
    font-size: 12px;
    text-align: right;
}
