body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
}


h1 {
    text-align: center;
    font-weight: bold;
}

strong {
    color: #EA302D;
}
/* Button */
.bigbtn {
    padding: 20px;
    margin: 5%;
    border-top-color: #EA302D;
    border-style: ridge;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

.bigbtn:hover {
    background-color: #EA302D;
    color: white;
}

.btnLogout {
    color: #EA302D;
}

.btnLogout:hover {
    color: white;
}

/* NAV BAR*/
.navbar {  
    background-color: white;
    border-bottom: #EA302D solid 5px;
}

.secondnav {
    align-items: center;
}

.nav-item:hover {
    font-weight: bold;
}